<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="device" default="hw:1,0"/>
    <arg name="confidence" default="0.7"/>
    <arg name="audio_gain" default="5.0"/>
    <arg name="target_label" default="marvin"/>
    <arg name="debug_mode" default="false"/>

    <include file="$(find spot_micro_joy)/launch/everything.launch">
        <arg name="debug_mode" value="$(arg debug_mode)"/>
    </include>

    <node name="spot_keyword_spotting"
          pkg="spot_keyword_spotting"
          type="i2s_voice_node.py"
          output="screen">
        <param name="device" value="$(arg device)"/>
        <param name="confidence" value="$(arg confidence)"/>
        <param name="audio_gain" value="$(arg audio_gain)"/>
        <param name="target_label" value="$(arg target_label)"/>
    </node>
</launch>
